
*,
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    border: solid 20px $white;
    background-color: rgb(17, 124, 71);
    color: $white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.page {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    &__header {
        color: #fff;
        font-size: 4rem;
        margin: 50px auto;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: 600px){
            font-size: 2rem;
        }
    }

    &__logo {
        background-image: url('/assets/images/icon-webpack.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 300px;
        width: 50%;
    }

    &__description {
        padding: 20px;
        text-align: center;
    }

    &__link {
        color: $white;

        &:hover {
            text-decoration: none;
        }
    }
}