<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webpack starter kit</title>
</head>

<body>
    <section class="page">
        <h1 class="page__header">webpack <span class="page__header--light">starter</span>-kit</h1>
        <div class="page__logo"></div>
        <p class="page__description">If you want to use this project and to know how develope it click here -> <a
                class="page__link" href="https://github.com/KrzysztofGrudzien/Webpack-starterkit"
                target="_blank">https://github.com/KrzysztofGrudzien/Webpack-starterkit</a></p>
    </section>
</body>

</html>