{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 4 version",
                        " > 1%",
                        "not dead"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": "3",
                "debug": true
            }
        ]
    ]
}